/* Esto aplica estilos al cuerpo completo de la página */
body {
    background-color: #404040; /* Fondo gris oscuro */
    font-family: Arial, sans-serif; /* Cambia la fuente */
    color: #FFFFFF; /* Color de texto gris oscuro */
    padding: 20px; /* Un poco de espacio alrededor del contenido */
}

/* Esto aplica estilos al encabezado <h1> */
h1 {
    color: #0388fc; /* Un color verde azulado fuerte */
    text-align: center; /* ¡Centra el texto! */
    border-bottom: 2px solid #0388fc; /* Una línea debajo del título */
    padding-bottom: 10px;
}

/* Esto aplica estilos al párrafo <p> */
p {
    font-size: 1.1em; /* Un tamaño de fuente un poco más grande */
    line-height: 1.5; /* Espaciado entre líneas */
    margin-top: 20px;
    border: 1px #bdbdbd; /* Borde discontinuo para que se note */
    padding: 15px;
    background-color: #222222; /* Fondo blanco para el párrafo */
}
